<!DOCTYPE html>

{% extends "padre2.html" %}

{% load static %}

{% block contenido %}

<header class="py-1 bg-light border-bottom mb-1">
  <div class="container">
      <div class="text-center my-1">
          <h4 class="fw-bolder">BUSCAR CARRERAS</h4>
      </div>
  </div>
</header>
<a href="#!"><img class="mx-auto d-block" src="https://images.pexels.com/photos/2402734/pexels-photo-2402734.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="..." width="500" heigth="350" /></a>



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

    
</head>
<body>
    
    <h1></h1>
    <div class="container">
        <div class="abs-center">
         <form action="buscar_carreras" method="GET" class="border p-3 form">
   
        <p>Ingresar Nombre de Carrera</p>
        <input type="text" name="nombre" id="nombre">
        <input type="submit" value="Buscar">
        

    </form>
  </div>
</div>
</body>
</html>

{% endblock %}
